html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  font-family: "Sorts Mill Goudy";
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.2rem; }

h1, h2, h3 {
  font-family: "Roboto Slab"; }

a, button {
  font-family: "Playfair Display"; }

p {
  line-height: 1.6; }

button {
  background: #000;
  color: #FAFAFA;
  border: 1px solid #000;
  box-shadow: 0 0 1px #212121;
  cursor: pointer;
  padding: 5px 12px;
  text-transform: uppercase;
  transition: .5s all; }
  button:focus {
    outline: none; }
  button:hover {
    background: #FAFAFA;
    color: #000; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  font-family: "Sorts Mill Goudy";
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.2rem; }

h1, h2, h3 {
  font-family: "Roboto Slab"; }

a, button {
  font-family: "Playfair Display"; }

p {
  line-height: 1.6; }

button {
  background: #000;
  color: #FAFAFA;
  border: 1px solid #000;
  box-shadow: 0 0 1px #212121;
  cursor: pointer;
  padding: 5px 12px;
  text-transform: uppercase;
  transition: .5s all; }
  button:focus {
    outline: none; }
  button:hover {
    background: #FAFAFA;
    color: #000; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li {
    display: inline-block;
    padding: 0 5px; }

nav {
  text-align: center;
  background: rgba(250, 250, 250, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700; }

header {
  text-align: center;
  padding: 300px 0;
  background: url(../../images/coffee-cup.jpg) no-repeat center top/cover;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  color: #FAFAFA;
  padding: 50px; }
  header img {
    padding: 50px 0; }
  header .tweet {
    padding: 50px 0;
    color: #FAFAFA; }
  header .emsign {
    padding: 50px 0; }
  header li {
    padding: 0 50px; }
    header li a {
      color: #FFF; }
