//Fonts

$headings-default: 'Roboto Slab'
$paragraphs-default: 'Sorts Mill Goudy'
$paragraphs-alt: Georgia
$links-default: 'Playfair Display'

//Sizes

$heading-font-large: 4rem
$heading-font-medium: 3rem
$heading-font-small: 2.2rem
$body-font-default: 1.5rem
$line-height-default: 1.6

//borders

$border-large: 4px
$border-medium: 2px
$border-small: 1px

//

$white-500: #FAFAFA
$white-400: #FFF

$black-500: #000
$black-400: #212121
$black-300: #302e2e

$blue-500: #1976D2
$blue-400: #42A5F5
$blue-300: #90CAF9
